.bd{
    font-family: Roboto,sans-serif;
}
.elearning-logo{
    width: 45px;
    height: 60px;
    padding: auto 0px;
}

.elearning-logo:hover{
    cursor: pointer;
}
.nav-header-logo{
    height: 100%;
    width: 100%;
}
.navabar-custom {
    padding: 0 80px;
    height: 60px;
    background-color: #fff;
    border-bottom: solid 2px #359AB0;
}
.navabar-custom a{
    float: left;
    display: block;
    height: 100%;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
}

.navabar-custom a:hover{
    color: rgb(242, 107, 14);
}

.navabar-header{
    float: left;
    height: 60px;
    width: 60px;
}
.nav-line{
    height: 2px;
    background-color: #359AB0;
}

.block-login{
    float: right;
    height: 60px;
}
.block-avata{
    float: right;
    width: 60px;
    height: 60px;
    position: relative;
}

#avata:hover{
    cursor: pointer;
}

.img-circle {
    border-radius: 50%;
    background-color: #359AB0;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
}

#login-register{
    font-size: 14px;
    font-weight: bold; 
    font-family: Roboto,sans-serif;
}
.header-page{
    height: 40px;
    background-color: #359AB0;
    padding: 0 80px;
}
.block-header{
    height: 40px;
    width: 200px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    margin-right: 50px;
    padding-left: 10px;
}

.icon-header-page{
    position: absolute;
    margin: auto 10px;
    top: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
}

.header-text{
   color: #fff;

}

.service-place{
    background: url('../images/headphone.png');
    display: inline-block;
    vertical-align: baseline;

}

.icon {
    display: inline-block;
    font-style: normal;
    text-align: center;
    text-transform: none;
    width: 15px;
}

.block-social{
    height: 40px;  
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}
.icon-social{
    width: 23px;
    height: 15px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    transform: scale(1);   
}

.icon-social:hover{
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    transform: scale(1.3); 
}

.app-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app-content-insde{
    max-width: 1200px;
    padding-top: 20px;
    width: 100%;
}

.block-random-content{
    display: flex;
    flex-direction: row;
    height: 310px;
}

.block-content-big{
    display: flex;
    flex-direction: row;
    flex: 3;
}

.block-content-small{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.slider {
   width: 888.75px;
}

.slick-slide img {
    outline: none;
  }

.slick-slide {
    transition: all ease-in-out;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
